.hero__container{
    position: relative;

}

.btn-dark{
    position: absolute;
    right: -10px;
    top: 10px;
}
.container__dark_mode{
    display: block;
    width: 100px;
    height:40px;
    border: 1px solid white;
    border-radius: 50px;
    /* background-color: gray; */
    position: relative;
    margin: auto;
    cursor: pointer;
    box-shadow: 5px 5px 30px aqua;
  }
  .btn__on-off{
    width:33px;
    height: 34px;
    border-radius: 50%;
    background-color:aqua;
    position:absolute;
    margin-top: 1px;
    margin-left: 2px;
    z-index: 10;
    transition: all 500ms ease;
    /* display: none; */
}
.sun,
.moon{
    width:33px;
    height: 34px;
    position:absolute;
}
.sun{
 margin-left: 2px;
}
.moon{
      transform: translateX(180%);
}
#btn__dark-mode{
      display:none;
}
#btn__dark-mode:checked + .btn__on-off{
  transform: translateX(180%);
}


.dark-mode{
    background-color: rgb(32, 31, 31);
    background-color: #05130f;
}
